.title-container {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    margin: 16px;
    flex-direction: row;
    padding-left: 16px; 
    margin-bottom: 0; 
}

.titleIcon {
    margin-right: 20px;
}

.title-header {
    margin-top: -5px;
}
